<% provide :title, t(:contact) %>
<h1><%= t "contact" %></h1>
<p>
  Muhammad Tamzid: muhammad.tamzid@gmail.com <br>
  Sujoy Datta: sujoydatta25@yahoo.com <br>
  Mahmudur: mahmudur@gmail.com <br>
  Zenith: zenith@gmail.com <br>
  Shakil: shakil@gmail.com
</p>
