<div id="favourite_form">
  <% if @user_book.favourite %>
    <p><%= t :added_as_favourite %></p>
  <% else %>
    <%= form_for @user_book, url: favourite_path(@user_book), remote: true do |f| %>
      <%= f.hidden_field :favourite, value: true %>
      <%= f.submit t("mark_as_favorite"), class: "btn btn-info" %>
    <% end %>
  <% end %>
</div>