<button class="btn btn-success btn-circle text-uppercase" id="rating-btn">
  <% book.rating.times do %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
  <% "#{5 - book.rating}".to_i.times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
  <% end %>
</button>
